/**variables courantes pour les espacements**/

$space:10px;
$bigspace:20px;


/**variables des différents couleurs de fond**/

$white: white;
$color-fond:#f7f7f7;
$color-position: #EAEAEA;
$fond-footer: #353535;

/**couleurs primaire secondaire et tertiaire**/

$primary-color: #9356dc;
$secondary-color:#ff79da;
$color-tertiary:#99E2D0;


