
.apropos {
    text-align: center;
    background-color:$color-fond;
    padding: $bigspace;
    
    & h1 {
        font-size: 25px;
    }


}

@media screen and (min-width: 992px) {
    .renseignement{
        display: flex;
    }.apropos {

        width: 50%;
        padding-top: 90px;
        background-color: $white;
    }
    .fonctionnement {
        width: 50%;
        margin-right: 30px;
        
        p{
            font-size: 100px;
        }
    }
}