
footer {
    background-color: $fond-footer;
    font-size: 20px;
    padding: $bigspace;
    & h3{
        color: $white;
        font-family: "Shrikhand";
    }
    & a{    
        display: flex;
        color: $white;  
        padding-top: $space;
    }
    & i{
        padding-right: 10px;
    }
}
@media screen and (min-width: 992px) {
    footer{
        padding: 20px 40px 40px 40px;
        div {display: flex;
        justify-content: space-between;}
        
    }
}