header {
    font-family: "Shrikhand";
    text-align: center;
    box-shadow: 0 5px 5px 0 lightgray;
    margin-bottom: 20px;
   
    & h1 {
        margin: 0px;
        padding: $space;
        font-size: 30px;
    }
}